.administration-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.side-menu {
    height: 100%;
    width: 25%;
    background-color: #196844;
}

.main-content {
    height: 100%;
    width: 75%;
}