.card {
    height: 20rem;
    width: 15rem;
    border-radius: 13px;
    background-color: #196844;
    box-shadow: black;
}

.card img {
    height: 100px;
    width: 100px;
}

.card button {
    height: 60px;
    width: 150px;
}