.card {
    height: auto;
    width: 15rem;
    border-radius: 13px;
    background-color: #196844;
    box-shadow: black;
}

.card .title {
    margin: 10px;
}

#card-img {
    width: 10rem;
    height: 10rem;
}

.card .button {
    margin: 10px;
    height: 3rem;
    width: 10rem;
}