.event-info button {
    height: 60px;
    width: 150px;
}

.event{
    
    margin-bottom: 8rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.event-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.main-description {
    grid-column: 1 / span 2;   
}

.speaker {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 2; 
}

.event #event-img-id {
    height: 44vh;
    width: 60vw;
    color: grey;
}
.subscribe-button-container {
    display: flex;
    justify-content: center;
}

.subscribe-button {
    height: 50px;
    width: 300px;
}

.event-page-label {
    color: cadetblue;
}