.footer-container{
    display: grid;
    grid-template-columns:  70% 25% 5%; 
    place-items: center;
    height: auto;
    background-color: cadetblue;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
}

.regards {
    background-color: cadetblue;
    display: flex;
    flex-direction: row-reverse;
}

.regards h6{
    margin-right: 10px;
}

#social-media-icon {
    margin: 3px
}

a {
    color: black;
}

.footer-contact-info{
    margin: 30px;
}


