.myevents-card{
    width: 60vw;
    height: 20vh;
    border-radius: 50px;
    background-color: cadetblue;
    margin: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px;
}

#myevents-card-img {
    height: 60px;
    width: 60px;
    
}

.myevents-card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    width: 100%;
    place-items: center;
    
}

.grid-center{
    grid-column: 2 / 4;   
}