nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #196844;
    height: 60px;
    z-index: 2;
    width: 100%;
  }
  
  nav #hamburguer-button {
    height: 60px;
    width: 60px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  nav #logo {
    height: 60px;
    width: 60px;
    margin-left: 30px;
  }
  
  nav #perfil {
    height: 60px;
    width: 60px;
  }

  .profile-menu {
      display: flex;
  }