.container-hidden {
    display: none;
    transition: 1s;
}

.container-sidebar-nav {
    position: absolute;
    right: 0px;
    width: 25vw;
    height: 100vh;
    display: flex;
    background-color: cadetblue;
    flex-direction: column;
    transition: 1s;
    z-index: 2;
}

.container-sidebar-nav .button-nav {
    margin: 10px;
    width: 90%;
    border: black solid 1px;
}

.container-sidebar-nav .button-nav:hover {
 background-color: rgb(46, 100, 102);
}


