* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}


.App {
  font-size: 62.5%;
}

.main-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1px;
  height: 100%;
}

.eventos {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.wallContainer {
  position: relative;
  text-align: center;
}

#wallpaper {
  width: 100%;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 200px;
  color: white
}

form {
  margin: 30px;
}

.evento {
  display: flex;
  justify-content: center;
}



